{{page-title "Polaris Toucan Starter"}}

<div class="flex flex-col h-screen leading-none">
  <div class="bg-ground-floor flex flex-col flex-grow text-titles-and-attributes">

    <div class="flex flex-flow-col place-content-between p-2">
      <nav>

      </nav>

      <ThemeSwitcher />
    </div>


    <div class="flex flex-col flex-grow p-4">
      {{outlet}}
    </div>
  </div>
</div>